//Ckan Theme by datHere
//Theme old files
#field-sitewide-search:focus {
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: 2px;
}

.wrapper {
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.homepage [role="main"] {
  padding: 0;
}

[role="main"],
.main {
  background: #ffffff;
}
.secondary.col-sm-3,
.secondary.span3 {
  border: 1px solid #e4e7ec;
}

#organization-search-form + .media-grid p,
#group-search-form + .media-grid p {
  display: none;
}

.media-view:hover,
.media-view.hovered {
  border: 1px solid #d0d5dd;
  box-shadow: 0 1px 3px 0 #98a2b3;
}


.homepage .module-search .search-giant {
  margin-bottom: 0;
}

.search-form,
.primary .dataset-item {
  border-bottom: none;
}

.dataset-content > p.empty {
  display: none;
}

.btn-group.open .btn-primary.dropdown-toggle,
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-submenu:hover > a,
.dropdown-submenu:focus > a {
  background: #d9534f;
  color: #ffffff;
}

form.form-inline.form-select.lang-select {
  display: none;
}

.pagination-wrapper {
  border-top: none;
}

.pagination li.active a,
.pagination li.active span,
.pagination li.active a:hover,
.pagination li.active span:hover,
.pagination li.active a:focus,
.pagination li.active span:focus {
  background-color: #d9534f;
  border-color: #d9534f;
  color: #ffffff;
}

.form-control.select2-container {
  height: auto !important;
  padding: 0;
}

@media (max-width: 767px) {
  .toolbar {
    margin-top: 10px;
  }

  .toolbar .breadcrumb a {
    color: #505050;
  }

  .module-heading {
    background: inherit !important;
    color: inherit !important;
  }
}

@media (min-width: 768px) {
  [role="main"],
  .main,
  .hero {
    min-height: 320px;
  }

  .wrapper:before {
    display: none;
  }

  .primary div.module-content {
    padding: 0 0 30px;
  }
}

@media (min-width: 980px) {
  .col-sm-12,
  .col-md-12,
  .span12 {
    width: calc(100% - 20px);
  }

  .col-sm-11,
  .col-md-11,
  .span11 {
    width: calc(91.66666667% - 20px);
  }

  .col-sm-10,
  .col-md-10,
  .span10 {
    width: calc(83.33333333% - 20px);
  }

  .col-sm-9,
  .col-md-9,
  span9 {
    width: calc(75% - 20px);
  }

  .col-sm-8,
  .col-md-8,
  .span8 {
    width: calc(66.66666667% - 20px);
  }

  .col-sm-7,
  .col-md-7,
  .span7 {
    width: calc(58.33333333% - 20px);
  }

  .col-sm-6,
  .col-md-6,
  .span6 {
    width: calc(50% - 20px);
  }

  .col-sm-5,
  .col-md-5,
  .span5 {
    width: calc(41.66666667% - 20px);
  }

  .col-sm-4,
  .col-md-4,
  .span4 {
    width: calc(33.33333333% - 20px);
  }

  .col-sm-3,
  .col-md-3,
  .span3 {
    width: calc(25% - 20px);
  }

  .col-sm-2,
  .col-md-2,
  .span2 {
    width: calc(16.66666667% - 20px);
  }

  .col-sm-1,
  .col-md-1,
  .span1 {
    width: calc(8.33333333% - 20px);
  }

  .container,
  .navbar-expand-lg .container,
  .navbar-fixed-top .container,
  .navbar-fixed-bottom .container {
    max-width: 1920px;
    width: 90%;
  }

  .primary.col-sm-9,
  .primary.span9 {
    width: calc(100% - 238px);
  }

  .secondary.col-sm-3,
  .secondary.span3 {
    width: 220px;
  }

  .box,
  .wrapper {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }

  .wrapper {
    background-position: 1px 0px;
  }

  select {
    width: 395px;
  }

  .control-medium input,
  .control-medium select,
  .control-medium textarea {
    width: 380px;
  }
}

.site-footer .og-attribution {
  display: inline-block;
  padding-right: 15px;
}

.site-footer .og-links {
  margin-top: 3px;
  margin-bottom: 30px;
}

.site-footer .ckan-footer-logo {
  margin-left: 20px;
}

/* Features section */
.features {
  background-color: #F4F4F4;
  padding: 50px 0;
}

.module-content.page-header {
  border-bottom: 1px solid #000!important;
  z-index: 10;
}