{% extends "page.html" %}

{% set pkg = pkg_dict or c.pkg_dict %}
{% set name = pkg.title or pkg.name %}
{%- set schema = h.scheming_get_dataset_schema(dataset_type) -%}


{% block subtitle %}{{ pkg.title or pkg.name }} - {{ _('Extensions') }}{% endblock %}




{% block links -%}
    {{ super() }}
    
{% endblock -%}

{% block head_extras -%}
    {{ super() }}
    {% set description = h.markdown_extract(pkg.notes, extract_length=200)|forceescape %}
    <meta property="og:title" content="{{ h.dataset_display_name(pkg) }} - {{ g.site_title }}">
    <meta property="og:description" content="{{ description }}">
    <meta property="og:url" content="{{ h.full_current_url() }}">
    {% if pkg.image_display_url %}
        <meta property="og:image" content="{{ pkg.image_display_url }}">
    {% endif %}
{% endblock -%}

{% block breadcrumb_content_selected %} class="active"{% endblock %}

{% block breadcrumb_content %}
    {% set extension = pkg.title or pkg.name %}
    <li>{{ h.nav_link(_('Extensions'), named_route=pkg.type+'.read', id=pkg.name, package_type=pkg.type) }}</li>
    <li{{ self.breadcrumb_content_selected() }}>{% link_for extension|truncate(30), named_route=pkg.type+'.edit', id=pkg.name %}</li>
{% endblock %}

{% block page_header %}
{% endblock %}

{% block pre_primary %}
{% endblock %}

{% block primary_content_inner %}
    {% if h.check_access('package_update', {'id':pkg.id }) %}
        <div class="actions">
            {% link_for _('Manage'), named_route=pkg.type+'.edit', id=pkg.name, package_type=pkg.type, class_='btn btn-default', icon='wrench' %}
        </div>
    {% endif %}
    {% block package_description %}
        {% if pkg.private %}
            <span class="dataset-private label label-inverse pull-right">
                <i class="fa fa-lock icon-lock"></i>
                {{ _('Private') }}
            </span>
        {% endif %}
        <h1>
            {% block page_heading %}
                {{ name }}
                {% if pkg.state.startswith('draft') %}
                    [{{ _('Draft') }}]
                {% endif %}
            {% endblock %}
        </h1>
        {% block package_notes %}
        {% if pkg.detailed_info %}
          <div class="notes embedded-content ckanext-extension-notes">
            {{ pkg.detailed_info }}
          </div>
        {% endif %}
      {% endblock %}

        {% if pkg.url %}
            <p><a class="btn btn-primary ckanext-extension-launch" href="{{ pkg.url }}" target="_blank"><i class="fa fa-external-link icon-external-link"></i> {{ _('Visit') }}</a></p>
        {% endif %}

    {% endblock %}

    {% block package_tags %}
        {% snippet "extension/snippets/tags.html", type=pkg.type, tags=pkg.tags %}
    {% endblock %}


  {% block package_additional_info %}
  {% snippet "scheming/package/snippets/additional_info.html",
    pkg_dict=pkg, dataset_type=extesnion, schema=schema %}
{% endblock %}
    {% block package_search_results_list %}
    {% endblock %}

    {% block discourse_comments %}
            {{ h.discourse_comments(pkg) }}
    {% endblock %}


{% endblock %}

{% block secondary_content %}
    {% block secondary_help_content %}{% endblock %}

    {% block package_info %}
        {% snippet 'extension/snippets/extension_info.html', pkg=pkg %}
    {% endblock %}

    {% block package_social %}
        {% snippet "snippets/social.html" %}
    {% endblock %}
{% endblock %}

