{#
Displays a single dataset of type 'extension'.

extension        - A extension to display.
item_class     - The class name to use on the list item.
truncate       - The length to trucate the description to (default: 180)
truncate_title - The length to truncate the title to (default: 85).
show_remove    - If True, show the remove button to remove extension/dataset association.

#}
{% set truncate = truncate or 180 %}
{% set truncate_title = truncate_title or 80 %}
{% set title = extension.title or extension.name %}
{% set notes = h.markdown_extract(extension.notes, extract_length=truncate) %}

{% set ckan_29_or_higher = h.ckan_version().split('.')[1] | int >= 9 %}

{% set extension_read_route = 'dataset_type.read' %}

{% block extension_item %}

<div class="media-item">
  {% block item_inner %}
    {% block image %}
      {% set image_url = h.get_value_from_extension_extras(extension.extras, 'image_url') %}
      {% if image_url and not image_url.startswith('http') %}
        <img data-lazy="/uploads/extension/{{ image_url }}" alt="{{ extension.title }}" class="media-image img-responsive">
      {% else %}
        <img data-lazy="{{ image_url or h.url_for_static('/base/images/placeholder-group.png') }}" alt="{{ extension.title }}" class="media-image img-responsive">
      {% endif %}
    {% endblock %}
    {% block title %}
      <h3>{{ extension.title }}</h3>
    {% endblock %}
    {% block link %}
      {% set redirect_link = h.get_value_from_extension_extras(extension.extras, 'redirect_link') %}
      {% if redirect_link and extension.url %}
        {% set extension_url = extension.url %}
      {% else %}
        {% set extension_url = h.url_for(extension_read_route, id=extension.name) %}
      {% endif %}
      <a href="{{ extension_url }}" title="{{ _('View {extension_title}').format(extension_title=extension.title) }}" class="media-view" {% if redirect_link %}target="_blank"{% endif %}>
        <span>{{ _('View {extension_title}').format(extension_title=extension.title) }}</span>
      </a>
    {% endblock %}
  {% endblock %}
</div>
{% endblock %}
