{#
Displays a single dataset of type 'showcase'.

showcase        - A showcase to display.
item_class     - The class name to use on the list item.
truncate       - The length to trucate the description to (default: 180)
truncate_title - The length to truncate the title to (default: 85).
show_remove    - If True, show the remove button to remove showcase/dataset association.

#}
{% set truncate = truncate or 180 %}
{% set truncate_title = truncate_title or 80 %}
{% set title = showcase.title or showcase.name %}
{% set notes = h.markdown_extract(showcase.notes, extract_length=truncate) %}

{% set ckan_29_or_higher = h.ckan_version().split('.')[1] | int >= 9 %}

{% set showcase_read_route = 'dataset_type.read' %}

{% block showcase_item %}

<div class="media-item">
  {% block item_inner %}
    {% block image %}
      {% set image_url = h.get_value_from_showcase_extras(showcase.extras, 'image_url') %}
      {% if not image_url %}
      {% set image_url = showcase.resources[0].image_url %}
    {% endif %}
      {% if image_url and not image_url.startswith('http') %}
        <img data-lazy="/uploads/showcase/{{ image_url }}" alt="{{ showcase.title }}" class="media-image img-responsive">
      {% else %}
        <img data-lazy="{{ image_url or h.url_for_static('/base/images/placeholder-group.png') }}" alt="{{ showcase.title }}" class="media-image img-responsive">
      {% endif %}
    {% endblock %}
    {% block title %}
      <h3>{{ showcase.title }}</h3>
    {% endblock %}
    {% block link %}
      {% set redirect_link = h.get_value_from_showcase_extras(showcase.extras, 'redirect_link') %}
      {% if redirect_link and showcase.url %}
        {% set showcase_url = showcase.url %}
      {% else %}
        {% set showcase_url = h.url_for(showcase_read_route, id=showcase.name) %}
      {% endif %}
      <a href="{{ showcase_url }}" title="{{ _('View {showcase_title}').format(showcase_title=showcase.title) }}" class="media-view" {% if redirect_link %}target="_blank"{% endif %}>
        <span>{{ _('View {showcase_title}').format(showcase_title=showcase.title) }}</span>
      </a>
    {% endblock %}
  {% endblock %}
</div>
{% endblock %}
