{#
    Displays a sidebard module with information for given package
    
    pkg    - The showcase package dict that owns the resources.
    
    Example:
    
    {% snippet "package/snippets/info.html", pkg=pkg %}
    
    #}
    
    {#
    Embeds a organization within the sidebar of a page.
    
    organization    - The organization dict.
    
    {% snippet 'snippets/organization, organization=group_dict %}
    
    #}
    {% set organization = organization or group%}
    {% set org_alias = h.pose_theme_organization_alias() %}
    {% set url = h.url_for(organization.type + '.read', id=organization.name, ) %}
    {% set dataset_type = h.default_package_type() %}
    
    {% block package_info %}
    <section id="organization-info" class="module module-narrow">
        <div class="module context-info">
            <div class="module module-narrow module-shallow context-info">
                  <h2 class="module-heading"><i class="fa fa-building-o"></i> {{ _('{Organization}'.format(Organization=org_alias)) }}</h2>
        <div class="module-content">
        {% block inner %}
        {% block image %}
            <div class="image">
            <a href="{{ url }}">
                <img src="{{ organization.image_display_url or h.url_for_static('/base/images/placeholder-organization.png') }}" width="200" alt="{{ organization.name }}" />
            </a>
            </div>
        {% endblock %}
        {% block heading %}
        <h1 class="heading">{{ organization.title or organization.name }}
            {% if organization.state == 'deleted' %}
            [{{ _('Deleted') }}]
            {% endif %}
        </h1>
        {% endblock %}
        {% block description %}
        {% if organization.description %}
            <p class="description">
            {{ h.markdown_extract(organization.description, 180) }}
            </p>
            <p class="read-more">
            {% link_for _('read more'), named_route=organization.type ~ '.about', id=organization.name %}
            </p>
        {% else %}
            <p class="empty">{{ h.humanize_entity_type('organization', organization.type, 'no description') or _('There is no description for this organization') }}</p>
        {% endif %}
        {% endblock %}
        <section class="module module-narrow">
            <h3 class="module-heading"><i class="fa fa-sitemap icon-medium icon-sitemap"></i> {{ _('Datasets in Showcase') }}</h2>
                {% if packages %}
                    <ul class="nav nav-simple">
                        {% for package in packages %}
                            {% set truncate_title = truncate_title or 80 %}
                            {% set title = package.title or package.name %}
                            <li class="nav-item">{{ h.link_to(title|truncate(truncate_title), h.url_for('dataset.read', id=package.name)) }}</li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p class="module-content empty">{{_('There are no Datasets in this Showcase')}}</p>
                {% endif %}
        </section>
        {% endblock %}
        </div>
        </div>
    </section>
    
    
    {% endblock %}