//Pose CKAN Theme
@import "_variables.scss";
@import "modules/global";
@import "modules/buttons";
@import "modules/header";
@import "modules/footer";
@import "modules/groups";
@import "modules/datasets";
@import "modules/showcases";
@import "modules/slick.scss";
@import "modules/pages";
@import "modules/tables";
@import "modules/accordions";
@import "modules/layout";
@import "modules/content";

@import "modules/select";
@import "modules/getstarted";

html,
body {
  font-family: "Satoshi", sans-serif;
  font-size: 1rem;
  font-weight: $fw-default;
  font-style: $fst-default;
  color: $text-color;
  line-height: $line-height;
}
.account-masthead {
  border-radius: .5rem;
  .container {
    padding: 0;
    width: 100%!important;
    .account {
      ul {
        display: flex;
        align-items: center;
        justify-content: space-between;
        li {
          display: flex;
          align-items: center;
          justify-content: center;
          margin: 0.25rem;
          background: $background-color;
          border-radius: 6px;
          overflow: hidden;
          a {
            display: flex;
            align-content: center;
            justify-content: center;

            width: 30px;
            height: 30px;
            padding: 0;
            span {
              display: none;
            }
            &.image {
              min-width: 30px;
              width: 30px;
              height: 30px;
              display: flex;
              align-items: center;
              justify-content: center;
              border-radius: none;
              padding: 0;
              img {
                width: 100%;
                height: 100%;
                padding: 2px;
              }
            }
          }
        }
      }
    }
  }
}
//Fix for Compressed Header
.compressed.masthead .account-masthead .account ul li a {
  padding: 0;
}
.compressed.masthead .navbar li a:hover {
  background-color: transparent;
  color: $blue-700;
}
.navbar.masthead  li.active a {
  background-color: transparent !important;
  color: $blue-700;
  font-weight: $fw-bold;
}

.navbar.masthead  > li > a {
  text-transform: capitalize;
  padding: 0.5rem 1rem;
  font-weight: $fw-medium;
}

//Icons
.adh-icon-link {
  padding: 0!important;
}
.dh-icon {
  display: flex;
  align-items: center;
  justify-content: center; 
  height: 30px;
  width: 30px;
  position: absolute;
  &.sysadmin {
    background: url(../icons/icon-sysadmin.svg) no-repeat center center;
    background-size: 24px 24px;
  }
  &.dashboard {
    background: url(../icons/icon-dashboard.svg) no-repeat center center;
    background-size: 24px 24px;
  }
  &.settings {
    background: url(../icons/icon-settings.svg) no-repeat center center;
    background-size: 24px 24px;
  }
  &.logout {
    background: url(../icons/icon-logout.svg) no-repeat center center;
    background-size: 24px 24px;
  }
  &.notifications {
    background: url(../icons/icon-notifications.svg) no-repeat center center;
    background-size: 24px 24px;
  }
  &.next {
    background: url(../icons/icon-next.svg) no-repeat center center;
    background-size: 18px 18px;
  }

}
nav.account.not-authed > ul > li > a {
  background: $grey-200!important;
  border-radius: .5rem;
  >.dh-icon.login {
    background: url(../icons/icon-login.svg) no-repeat center center;
    background-size: 18px 18px;
  }
}




//Forms
//Search Form
.search-form {
  .search-input.form-group {
    .form-control {
      font-size: $fs-default;
      padding: 1rem;
      font-weight: $fw-medium;
      border-radius: 0.75rem;
      border: 2px solid $grey-200;
      color: $text-color;
      &::placeholder,
      &::-webkit-input-placeholder,
      &::-moz-placeholder,
      &:-ms-input-placeholder,
      &:-moz-placeholder {
        font-weight: $fw-regular;
      }
    }
    button {
      right: 12px;
      display: flex;
      align-content: center;
      justify-content: center;
      margin-top: -10px;
      i {
        font-size: 24px;
        width: 24px;
        height: 24px;
        &::before {
          content: "";
          width: 24px;
          height: 24px;
          display: flex;
          background-image: url(../icons/icon-search.svg);
          background-size: 24px 24px;
          background-repeat: no-repeat;
        }
      }
    }
  }
}

.homepage .hero {
  background-size: cover;
}

.homepage .hero .module-search {
  margin-top: 50px;
  border: none;
}

.homepage .module-search .search-form {
  background: transparent !important;
}
.module-search {
  background: transparent !important;
  margin: 3rem auto;
  padding: 0;
}

.hero-area {
  min-height: 535px;
  position: relative;
  h1,
  p {
    color: $grey-50;
  }
  
      .widges.statsistics {
        h3 {
          position: absolute;
          left: 10%;
          right: 10%;
          text-align: center;
          margin: -4rem auto 0;
          font-size: calc( $fs-xxl * 2);
          font-weight: $fw-bold;
          color: $grey-300;
        }
        ul {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-top: 256px;
          position: relative;
          z-index: 99;
          li.statdatasets, li.statorg {
            background: url(../images/home-stats-bg.svg) no-repeat center center;
            z-index: 99;
            background-size: 256px 256px;
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            position: relative;
            width: 320px;
            height: 320px;
            border-radius: 100%;
            margin: 0px auto;
            text-align: center;
            margin-right: 1rem;
            
            .backgroundstats {
              display: flex;
              width: 320px;
              height: 320px;
              border-radius: 100%;
              background:  url(../images/home-stats-bg-shape.svg) no-repeat center center;
              background-size: 320px 320px;
              z-index: -1;
              position: absolute;
            }
            

            .statistic_value {
              font-size: calc( $fs-xxl * 4 );
              font-weight: $fw-black;
              color: $white;
            }
            .statistic_name {
              font-size: $fs-xxl;
              color: $grey-200;
              position: absolute;
              bottom: 4rem;
              left: 0;
              right: 0;
              margin: 0px auto;
            }
          }
        }
      }
    }
  