<div role="main">
  {% if 'pose_custom_heroslider' in g.plugins %}
    {% snippet 'home/snippets/hero_slider.html' %}
  {% else %}
    {% snippet 'home/snippets/hero_title.html' %}
  {% endif %}

  <div class="flex-container">
    {% block pose_theme_showcases %}
    {% if 'pose_custom_showcase' in g.plugins %}
      {% if h.pose_theme_get_showcases() %}
        {% snippet 'home/snippets/showcases.html' %}
      {% endif %}
    {% endif %}
  {% endblock %}

    {% block pose_theme_groups %}
      {% if h.pose_theme_get_groups() %}
        {% snippet 'home/snippets/groups.html' %}
      {% endif %}
    {% endblock %}

    {% block pose_theme_datasets %}
      {% snippet 'home/snippets/recent_datasets.html' %}
    {% endblock %}

    {% block pose_theme_popular_datasets %}
      {% snippet 'home/snippets/popular_datasets.html' %}
    {% endblock %}

  </div>
</div>