<section class="main-browse section global-datasets add-to-catalog">
  <div class="module-content">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h2 class="heading">
            Contribute to the<br>CKAN Ecosystem
          </h2>
          <p>
            Join us and contribute to our work by collaborating<br>
            with your CKAN Site or Extension community.
          </p>
          <a
            href="https://github.com/dathere/ckanext-pose_ecosystem_catalog/issues/new/choose"
            class="btn btn-primary"
            target="_blank"
            rel="noopener noreferrer"
          >
            Add Your CKAN Site or Extension
          </a>
        </div>
      </div>
    </div>
  </div>
</section>