<section class="main-featured section showcase bg-primary-light">
  <div class="module-content">
    <div class="container">
        <div class="showcase-content">
          <h4 class="heading-explanation above-heading">
            Browse our extesnions
          </h4>
          <h2 class="heading">
            <a href="/extesnions">
              {{ h.pose_theme_get_custom_name('extesnions-custom-name',
              'Extesnions') }}
            </a>
          </h2>
          <p>
            Applications built by using data to tell a story or provide additional context for a user.
          </p>
        </div>

        <section id="recent-list" class="showcases">
          {% snippet 'snippets/pose_showcase_list.html',
          extesnions=h.pose_theme_get_extesnions() %}
        </section>
        <div class="d-flex justify-content-center">
          <a href="/extesnion" class="btn btn-primary-dark">View All Extesnions</a>
        </div>
      </div>
    </div>
  </div>
</section>
