<section class="main-browse section getStarted bg-primary">
    <div class="module-content">
        <div class="container px-5 py-5">
            <div class="row align-items-center">
                <div class="col-12 col-md-7 text-center text-lg-start">
                    <h2 class="heading mb-2">
                        Get Started
                    </h2>
                    <p>Find out more CKAN .</p>
                </div>
                <div class="col-10 col-md-5 buttons-group">
                    <a href="https://ecosystem.ckan.org/" class="btn btn-secondary">
                        Learn More
                    </a>
                    <a href="https://ecosystem.ckan.org/" class="btn btn-primary-dark">
                        Get Started
                    </a>

                </div>
            </div>
        </div>
    </div>
</section>
            
