<section class="main-featured section showcase">
  <div class="module-content">
    <div class="container">
        <div class="showcase-content">
          <h2 class="heading">
            Featured Sites
          </h2>
         
        </div>

        <section id="recent-list" class="showcases">
          {% snippet 'snippets/pose_showcase_list.html',
          showcases=h.get_recent_showcase_list() %}
        </section>
        <div class="d-flex justify-content-center">
          <a href="/site" class="btn btn-primary">View All Sites</a>
        </div>
      </div>
    </div>
  </div>
</section>