<section class="main-featured section showcase bg-primary-light">
  <div class="module-content">
    <div class="container">
        <div class="showcase-content">
          <h2 class="heading">
            <a href="/showcase">
              {{ h.pose_theme_get_custom_name('showcases-custom-name',
              'Showcases') }}
            </a>
          </h2>
         
        </div>

        <section id="recent-list" class="showcases">
          {% snippet 'snippets/pose_showcase_list.html',
          showcases=h.pose_theme_get_showcases() %}
        </section>
        <div class="d-flex justify-content-center">
          <a href="/showcase" class="btn btn-primary">View All Showcases</a>
        </div>
      </div>
    </div>
  </div>
</section>