<section class="main-browse section subscription bg-primary-light">
    <div class="module-content">
        <div class="container px-5 py-5">
            <div class="row align-items-center">
                <div class="col-12 col-md-7 text-center text-lg-start">
                    <h4 class="heading-explanation above-heading">Are you updated?</h4>
                    <h2 class="heading mb-2">
                        Stay Updated with CKAN
                    </h2>
                    <p>Stay up to date with the latest news, announcements, and articles.</p>
                </div>
                <!-- Subscription Form -->
                <div class="col-10 col-md-5 form">
                    <form id="subscribe-form" class="form-inline" action="https://assets.mailerlite.com/jsonp/567706/forms/114893862837683466/subscribe" method="post">
                        {{ h.csrf_input() if 'csrf_input' in h }}
                        <div class="form-group d-flex">
                            <label class="sr-only" for="subscribeEmail">Email address</label>
                            <input type="email" class="form-control" id="subscribeEmail" name="fields[email]" placeholder="Enter your email" autocomplete="email">
                            <button type="submit" class="btn btn-primary-dark">Subscribe</button>
                        </div>
                        <input type="hidden" name="ml-submit" value="1">
                        <input type="hidden" name="anticsrf" value="true">
                    </form>
                    <!-- Success Message -->
                    <div class="subscribe-success" style="display: none;">
                        <h4>Thank you!</h4>
                        <p>You have successfully joined our subscriber list.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
    $('#subscribe-form').submit(function (e) {
        e.preventDefault(); // Prevent the form from submitting in the traditional way
        
        var formData = $(this).serialize(); // Serialize the form data
        
        $.ajax({
            type: 'POST',
            url: $(this).attr('action'),
            data: formData,
            dataType: 'jsonp', // Use JSONP for cross-domain AJAX
            success: function (response) {
                if (response.success) {
                    $('#subscribe-form').hide(); 
                    $('.subscribe-success').show(); 
                } else {
                    // Handle error
                    alert('An error occurred. Please try again later.');
                }
            },
            error: function (response) {
                // Handle error
                alert('An error occurred. Please try again later.');
            }
        });
    });
});
</script>
