{% ckan_extends %}

{% block head_extras -%}
{%- endblock -%}

{%- block title -%}
  {% block subtitle %}{{ h.dataset_display_name(pkg) }} {% endblock %}
  {%- if self.subtitle()|trim %} {{ g.template_title_delimiter }} {% endif -%}
  {{ g.site_title }}
{%- endblock -%}

{% block og_title -%}
  {%- if self.subtitle()|trim %}
    <meta property="og:title" content="{{ self.subtitle()|trim }}{%- if self.subtitle()|trim %} {{ g.template_title_delimiter }} {{ g.site_title }}{% endif -%}">
  {% endif -%}
{% endblock -%}

{% block og_image -%}
  {%- if 'image_url' in pkg and pkg['image_url'] != '' %}
    <meta property="og:image" content="{{ pkg['image_display_url'] }}">
  {% else -%}
    <meta property="og:image" content="{{ h.url_for_static('/base/images/twdh-social.png', qualified=True) }}">
  {% endif -%}
{% endblock -%}

{% block og_description -%}
  {% set description = h.markdown_extract(pkg.notes, extract_length=200) | forceescape | trim %}
  <meta name="description" property="description" content="{{ description }}">
  <meta property="og:description" content="{{ description }}">
{% endblock -%}


{% block page_header %}
    <div class="module-content page-header">
        <div class="content_action">
        {% if h.check_access('ckanext_site_update', {'id':pkg.id }) %}
            {% link_for _('Manage'), named_route=site_edit_route, id=pkg.name, class_='btn btn-secondary', icon='wrench' %}
        {% endif %}
        </div>
    </div>
{% endblock %}

{% block primary_content_inner %}

    {% block package_description %}

        <div class="content_action not-mobile">
            {% if pkg.url %}
                <a class="btn btn-primary ckanext-site-launch" href="{{ pkg.url }}" target="_blank"><i class="fa fa-external-link icon-external-link"></i> {{ _('Open Application') }}</a>
            {% endif %}
        </div>
    
        <h1>
            {% block page_heading %}
                {{ name }}
                {% if pkg.state.startswith('draft') %}
                    <button class="btn btn-error" tabindex="-1">{{ _('Draft') }}</button>
                {% endif %}
                {% if pkg.private %}
                    <button class="btn btn-error" tabindex="-1">{{ _('Private') }}</button>
                {% endif %}
            {% endblock %}
        </h1>

        <div class="open-application mobile-only">
            {% if pkg.url %}
                <p>
                <a class="btn btn-primary ckanext-site-launch" href="{{ pkg.url }}" target="_blank"><i class="fa fa-external-link icon-external-link"></i> {{ _('Open Application') }}</a>
                </p>
            {% endif %}
        </div>


        {% block package_notes %}
            {% if pkg.site_notes_formatted and editor == 'ckeditor' %}
                <div class="ck-content">
                    {{ pkg.site_notes_formatted|safe }}
                </div>
            {% elif pkg.site_notes_formatted %}
                <div class="notes embedded-content ckanext-site-notes">
                    {{ pkg.site_notes_formatted }}
                </div>
            {% endif %}
        {% endblock %}

        {% block package_details %}

            {% if pkg.author_email %}

                <p class="block">{{ _('Contact Email') }}: <a href="#" onclick="go_contact( '#contact-form', 'data-hub-author' ); return false;">{{ pkg.author_email }}</a></p>

            {% endif %}

            {% if pkg.notes %}

                <p class="block">
                    <a type="button" class="btn-modal" data-toggle="modal" data-target="#disclaimer-modal">{{ _('Disclaimer') }}</a>
                </p>
                <div id="disclaimer-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
                    <div class="modal-dialog modal-lg" role="document">

                        <div class="modal-content">
                        
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h2 class="modal-title" id="myModalLabel">Disclaimer</h2>
                            </div>
                            <div class="modal-body">
                                <h4>{{ name }}</h4>
                                {% if pkg.site_notes_formatted and editor == 'ckeditor' %}
                                    <div class="ck-content">
                                        {# pkg.site_notes_formatted|safe #}
                                    </div>
                                {% elif pkg.site_notes_formatted %}
                                    <div class="notes embedded-content ckanext-site-notes">
                                        {# pkg.site_notes_formatted #}
                                    </div>
                                {% endif %}
                                <h4>Texas Water Data Hub</h4>
                                <div class="notes embedded-content ckanext-site-notes">

                                    <p>This web site provides links to other web sites, both public and private, for informational purposes. TWDB makes no representations, guarantees, or warranties as to the accuracy, completeness, currency, or suitability for any purpose of the information provided via this web site. TWDB specifically disclaims any and all liability and responsibility for any claims or damage that may arise as a result of TWDB providing the web site or the information it contains, or that may arise in any way with respect to any web sites maintained by third parties and linked to the TWDB site.</p>

                                    <p>TWDB makes no effort to independently verify, and does not exert editorial control over, information on pages outside these domains.</p>

                                    <p>TWDB advises site visitors to read the privacy policies of any third-party sites accessed through this site.</p>

                                    <p>TWDB does not endorse any of the products, vendors, consultants, or documentation referenced in this web site. Any mention of vendors, products, or services is for informational purposes only.</p>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            

            {% endif %}
 
        {% endblock %}

    {% endblock %}

    {% block package_tags %}
        {% snippet "site/snippets/tags.html", tags=pkg.tags %}
    {% endblock %}

    {% block package_search_results_list %}

        <section class="module module-narrow pad-bottom">
            {% set linked_resource_count = h.twdh_linked_resource_count( c.site_pkgs ) %}
                {% if linked_resource_count  > 0 %}
                <h2>{{ linked_resource_count }} {{ _('Linked Dataset') }}{% if linked_resource_count != 1 %}s{%endif%}</h2>
                {% if c.site_pkgs %}
                    <ul class="dataset-list list-unstyled">
                        {% for dataset in c.site_pkgs %}
                            {% snippet 'snippets/package_item.html', package=dataset %}
                        {% endfor %}
                    </ul>
                    <div style="clear: both;"></div>
                {% else %}
                    <p class="module-content empty">{{_('There are no Datasets in this Site')}}</p>
                {% endif %}
            {% endif %}
        </section>
    
    {% endblock %}

    <div class="wrapper no-nav">
      
        {% snippet 'snippets/contact_form.html', form_type='application', pkg=pkg %}

    </div>    

{% endblock %}


{# eleminate the package_social block #}
{% block package_social %}
{% endblock %}